@model CategoryViewModel

<li class="post-category-item">
    <a asp-area="" asp-controller="category" asp-action="@Model.CategoryNameUrlEncoded">@Model.CategoryName</a><email mail-to="mdownie" ></email>
</li>